<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Sailec Black Italic.otf</string>
		<string>Sailec Black.otf</string>
		<string>Sailec Bold Italic.otf</string>
		<string>Sailec Bold.otf</string>
		<string>Sailec Hairline Italic.otf</string>
		<string>Sailec Hairline.otf</string>
		<string>Sailec Light Italic.otf</string>
		<string>Sailec Light.otf</string>
		<string>Sailec Medium Italic.otf</string>
		<string>Sailec Medium.otf</string>
		<string>Sailec Regular Italic.otf</string>
		<string>Sailec Regular.otf</string>
		<string>Sailec Thin Italic.otf</string>
		<string>Sailec Thin.otf</string>
		<string>AmaticSC-Regular</string>
		<string>Amiri-Regular</string>
		<string>BadScript-Regular</string>
		<string>Bevan-Regular</string>
		<string>Caveat-Regular</string>
		<string>Codystar-Regular</string>
		<string>CourierPrime-Regular</string>
		<string>CutiveMono-Regular</string>
		<string>DancingScript-Bold</string>
		<string>DancingScript-Regular</string>
		<string>FrederickatheGreat-Regular</string>
		<string>GiveYouGlory-Regular</string>
		<string>HomemadeApple-Regular</string>
		<string>IndieFlower-Regular</string>
		<string>LibreBaskerville-Bold</string>
		<string>LibreBaskerville-Italic</string>
		<string>LibreBaskerville-Regular</string>
		<string>Monoton-Regular</string>
		<string>Montserrat-Regular</string>
		<string>NanumBrushScript-Regular</string>
		<string>NixieOne-Regular</string>
		<string>OpenSans-Regular</string>
		<string>PlayfairDisplay</string>
		<string>PTSans-Regular</string>
		<string>Quicksand</string>
		<string>Raleway-Regular</string>
		<string>Rustico-Regular</string>
		<string>Sebastian_Signature</string>
		<string>Tangerine-Bold</string>
		<string>Tangerine-Regular</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
