<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Regular.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Quicksand.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Monoton-Regular.ttf</string>
		<string>Rustico-Regular.otf</string>
		<string>Amiri-Regular.ttf</string>
		<string>BadScript-Regular.ttf</string>
		<string>IndieFlower-Regular.ttf</string>
		<string>NanumBrushScript-Regular.ttf</string>
		<string>GiveYouGlory-Regular.ttf</string>
		<string>HomemadeApple-Regular.ttf</string>
		<string>Codystar-Regular.ttf</string>
		<string>FrederickatheGreat-Regular.ttf</string>
		<string>PTSans-Regular.ttf</string>
		<string>PlayfairDisplay.ttf</string>
		<string>Sebastian_Signature.ttf</string>
		<string>NixieOne-Regular.ttf</string>
		<string>CutiveMono-Regular.ttf</string>
		<string>CourierPrime-Regular.ttf</string>
		<string>Caveat-Regular.ttf</string>
		<string>Bevan-Regular.ttf</string>
		<string>AmaticSC-Regular.ttf</string>
		<string>Tangerine-Bold.ttf</string>
		<string>Tangerine-Regular.ttf</string>
		<string>DancingScript-Regular.ttf</string>
		<string>DancingScript-Bold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
</dict>
</plist>
