<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please allow access to save photo in your photo library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow access to save photo in your photo library</string>
	<key>UIAppFonts</key>
	<array>
		<string>Sailec Black Italic.otf</string>
		<string>Sailec Black.otf</string>
		<string>Sailec Bold Italic.otf</string>
		<string>Sailec Bold.otf</string>
		<string>Sailec Hairline Italic.otf</string>
		<string>Sailec Hairline.otf</string>
		<string>Sailec Light Italic.otf</string>
		<string>Sailec Light.otf</string>
		<string>Sailec Medium Italic.otf</string>
		<string>Sailec Medium.otf</string>
		<string>Sailec Regular Italic.otf</string>
		<string>Sailec Regular.otf</string>
		<string>Sailec Thin Italic.otf</string>
		<string>Sailec Thin.otf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Please allow camera.</string>
</dict>
</plist>
